.btn:not(.btn-link) {
  font-family: $font-family-header;
  text-transform: uppercase;
}

.btn-link {
  padding: 0;
}

.btn-group-toggle,
.nav.btn-group {
  display: inline-flex;

  .btn-outline-dark {
    border-color: $gray-500;

    &.active {
      border-color: $black;
    }
  }
}

.btn.dropdown-toggle {
  padding-left: 1rem;
  padding-right: 1rem;
}

.close {
  opacity: 1;

  span {
    vertical-align: middle;
  }

  &--label {
    font-family: $font-family-header;
    font-weight: $font-weight-header;
    font-size: rem-calc(15);
    text-transform: uppercase;
    line-height: 1;
    margin-right: .5rem;
  }
}
