.card {
  & > .alert {
    font-family: $font-family-header;
    font-weight: $font-weight-header;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.content-card,
.detail-card {
  &.disabled {
    opacity: $btn-disabled-opacity;
  }

  .card {
    @include mq(md) {
      min-height: 580px;
    }
  }
}

.content-card {
  background: $gray-5;
  padding: rem-calc(20);

  &--section {
    border-bottom: 1px solid $border-color;
    padding: rem-calc(40) 0;
    height: 100%;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  & > .row > div > .content-card--section {
    border-bottom: 1px solid $border-color;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  & > .row:first-child > div:first-child > .content-card--section {
    padding-top: 0;
  }

  & > .row:last-child > div:last-child > .content-card--section {
    padding-bottom: 0;
    border-bottom: 0;
  }

  @include mq(lg) {
    & > .row:first-child > div > .content-card--section {
      padding-top: 0;
    }

    & > .row:last-child > div > .content-card--section {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}


.detail-card {
  @include mq(lg) {
    display: flex;
    flex-flow: row nowrap;
  }

  &--content {
    background-color: $gray-5;
    border-right: 1px solid $border-color;
    padding: 1.5rem;

    @include mq(lg) {
      flex: 1 1 auto;
    }
  }

  &--sidebar {
    background-color: $gray-6;

    @include mq(lg) {
      flex: 0 1 auto;
      min-width: 15rem;
    }

    h2 {
      font-size: rem-calc(20);
    }
  }

  &--section {
    padding: 2rem;
    border-top: 1px solid $border-color;

    &:first-child {
      border-top: none;
    }
  }
}

.loading-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 30rem;
}
