.dropdown {
  .btn {
    width: 100%;
    background: #fff;
    color: #000;
    text-align: left;
    height: 36px;

    &:after {
      position: absolute;
      right: 10px;
      top: 17px;
    }
  }

  .dropdown-menu {
    width: 100%;
  }
}
