.dropdown-menu.fade {
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity .15s linear, visibility 0s .15s;

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity .15s linear;
  }
}

.form-check + .form-check {
  margin-top: 1rem;
}

.form-control:disabled {
  opacity: .4;
}

.form-control,
.custom-select {
  &.ng-touched.ng-invalid {
    color: $form-feedback-invalid-color;
    border-color: $form-feedback-invalid-color;

    &:focus {
      box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-invalid-color, .25);
    }

    ~ .invalid-feedback,
    ~ .invalid-tooltip {
      display: block;
    }
  }
}
