.icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;

  svg {
    height: 20px;
    width: 20px;
    fill: currentColor;
  }

  &.icon-sm {
    svg {
      width: 14px;
      height: 14px;
    }
  }

  &.icon-lg {
    svg {
      width: 34px;
      height: 34px;
    }
  }

  &.icon-xl {
    svg {
      width: 52px;
      height: 52px;
    }
  }
}
