
.info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(white, .97);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;

  &--icon {
    margin-bottom: 1.25rem;
    color: $brand-red;

    svg {
      width: 48px;
      height: 48px;
    }
  }

  &--content {
    h3 {
      font-size: rem-calc(26);
    }
  }
}
