.info-block {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 3.5rem;

  &--icon {
    flex: 0 0 rem-calc(36);
    text-align: center;

    .icon {
      color: $brand-red;
      vertical-align: top;
    }
  }

  &--content {
    flex: 1 1 auto;
    padding-left: 1rem;
    font-size: rem-calc(15);
    word-break: break-word;

    h3 {
      font-size: rem-calc(17);
    }

    h3.badge {
      font-weight: $font-weight-header;
      vertical-align: bottom;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
