.modal-header + .modal-body,
.modal-header + .modal-footer,
.modal-body + .modal-footer,
.modal-header + * .modal-body,
.modal-header + * .modal-footer,
.modal-body + * .modal-footer {
  margin-top: -2rem;
}

.modal-header {
  .close {
    padding: 0 1rem;
  }

  .modal-subtitle {
    width: 100%;
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-weight: normal;
    font-size: rem-calc(18);
    color: black;
    text-transform: none;
  }
}

.modal-content {
  border: 1px solid $modal-content-border-color;
}

.modal-lg {
  @include mq(sm) {
    max-width: calc(100% - #{$modal-dialog-margin-y-sm-up * 2});
  }

  @include mq(lg) {
    max-width: $modal-lg;
  }
}
