table.mat-table {
  width: 100%;

  .mat-sort-header-sorted {
    color: $gray-0;
  }

  th.mat-header-cell {
    background: $brand-yellow;
    border-bottom-width: 0;
  }

  .mat-sort-header-button {
    font-size: 0.75rem;
    line-height: 1;
    //font-family: $font-family-header;
    //font-weight: $font-weight-header;
    //text-transform: uppercase;
  }

  .mat-sort-header-arrow {
    position: relative;
    height: 1rem;
    width: 1rem;
    min-width: 1rem;
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      right: 0;
      border-style: solid;
      filter: blur(.5px);
    }

    &:before {
      top: -1px;
      border-width: 0 6px 6px;
      border-color: transparent transparent black;
    }

    &:after {
      bottom: -1px;
      border-width: 6px 6px 0;
      border-color: black transparent transparent;
    }
  }

  .mat-sort-header-sorted .mat-sort-header-arrow:before {
    top: 5px;
  }

  .mat-sort-header-sorted .mat-sort-header-arrow:after {
    bottom: 5px;
  }

  [aria-sort='ascending'] .mat-sort-header-arrow:after {
    display: none;
  }

  [aria-sort='descending'] .mat-sort-header-arrow:before {
    display: none;
  }

  .mat-sort-header-stem,
  .mat-sort-header-indicator {
    display: none !important;
  }

  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-bottom-width: 0;

    &:first-of-type {
      padding-left: 1.5rem;
    }
  }

  tr.mat-row:nth-child(odd) td.mat-cell {
    background-color: $gray-6;
  }

  tr.mat-row:last-child td.mat-cell {
    border-bottom: 1px solid $gray-6;
  }
}

.mat-table.is-sorted .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  &:before,
  &:after {
    display: none;
  }
}

.table-empty,
.table-loading {
  padding: 0 24px;
  line-height: 48px;
  border-bottom: 1px solid $gray-6;
}

.table-loading {
  text-align: center;
}

.table-empty {
  font-weight: bold;
}
