<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand" href="/">Angular Workshop App</a>
    <div class="navbar-expand pull-right">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="nav-item nav-link" [routerLink]="['/about']" [routerLinkActive]="'active'">About</a>
        <a class="nav-item nav-link" [routerLink]="['/contact']" [routerLinkActive]="'active'">Contact</a>
      </div>
    </div>
  </div>
</nav>
