.page-container {
  height: 100%;
  background: #fafafa;
  color: #000;
  display: flex;
  flex-direction: column;
  a {
    color: inherit;
    text-decoration: none;
  }
  header {
    background: #3f51b5;
    color: #fff;
    padding: 18px 24px;

    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    .menu-button {
      margin-right: 24px;
      min-width: 0;
      padding: 0;
      line-height: normal;
    }
    .app-title {
      padding: 0 3px;
    }
  }
}
