<h1>This is the parent component!</h1>
<h2> It will pas the "hello" to its child</h2>
It also receives the data from child componenjt
<p>
    <!-- <b>Response from child :"{{ receivedChildMessage }}"</b> -->
</p>

<div>
    <!-- <span [innerHtml]='receivedChildMessage'></span> -->
    <span>
        <b>{{receivedChildMessage}}</b>
    </span>
</div>
<button (click)="sendToChild('Hello child')">Send to child</button>
<app-child (receivedParentMessage)="messageToSendP" (messageToEmit)="getMessage($event)"></app-child>

<div>
    <table>
        <tr>
            <td [attr.colspan]="3">three</td>

        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                3
            </td>
        </tr>
    </table>
</div>

<div class="divbackground">
    <table>
        <tr>
            <td>
                this is the angular demo
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>

<!-- one way binding -->
<button class="btnstyle" (click)="myFunction()">Click me</button>

<input type="text" [(ngModel)]="val" />



<p>Entered value is {{val}}</p>

<b>{{title | uppercase}}</b>
<br>

<b>{{title | lowercase}}</b>

<br>
<h1>Date Pipe</h1>
<b>{{todaydate | date:'d/M/y'}}</b>
<br/>

<b>{{todaydate | date:'M/d/y'}}</b>
<br/>

<b>{{todaydate | date:'shortTime'}}</b>
<br>

<b>{{454.78787814 | number: '3.4-4'}}</b>

<br>
<h1>Currency Pipe</h1>
<b>{{6589.23 | currency:"USD"}}</b>
<br/>


<h1>Json Pipe</h1>

<b>{{jsonval | json}}</b>

<br>
<b>{{jsonstring}}</b>

<h1>Slice Pipe</h1>

<b>{{ months | slice:2:6}}</b>

<h1> angular custom pipes</h1>

<h1>{{chars | mypipe}}</h1>


<p>{{"Angular Workshop demo" | reverse}}</p>