<nav id="sidebar" class="sidebar" [ngClass]="{active: sideNavFlag}">
  <ul class="list-unstyled sidebar-list-l1">
    <li *ngFor="let item of menuItems">
      <a *ngIf="!item.subMenu" [routerLink]="[item.link]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <app-icon [name]="item.image"></app-icon>
        <span class="side-detail" style="width: 25px; word-break: break-all;">{{item.name}}</span>
      </a>
      <!-- <a class="icon" href="#"><img src="assets/icons/book.png" alt="book"></a> -->
      <ng-container *ngIf="item.subMenu">
        <a href="#submenu-{{item.link}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >
          <app-icon [name]="item.image"></app-icon>
          <span class="side-detail">{{item.name}}</span>
          <app-icon name="plus" size="sm" class="plus-icon"></app-icon>
          <app-icon name="minus" size="sm" class="minus-icon"></app-icon>
        </a>
        <ul class="collapse list-unstyled sidebar-list-l2" id="submenu-{{item.link}}">
          <li *ngFor="let sitem of item.subMenu">
            <a [routerLink]="[sitem.link]" (click)="checkLink(sitem.link)" routerLinkActive="active"><span style=" display:block;word-wrap: break-word; width: 30px">{{sitem.name|slice:0:17}}<br>{{sitem.name|slice:17:40}}</span></a>
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>

  <button type="button" class="btn btn-link btn-collapse-sidebar" id="sidebarCollapse" (click)="collapseClick();">
    <app-icon [name]="sideNavFlag ? 'expand' : 'collapse'" size="sm"></app-icon>
    <span> Collapse Menu</span>
  </button>
</nav>
