@import "../../../scss/config";

$expanded-width: rem-calc(250);
$collapsed-width: rem-calc(80);
$icon-width: rem-calc(18);

:host {
  display: block;
}

.sidebar {
  min-height: 100%;
  min-width: $expanded-width;
  max-width: $expanded-width;
  background: $gray-1;
  color: white;
  transition: all $duration-out $ease-in-out;
  overflow: hidden;

  ul {
    padding: 0;
    margin: 0;
  }

  a,
  .btn-collapse-sidebar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1.25rem 1rem;
    background: $gray-1;
    text-align: left;
    line-height: 1;
    text-decoration: none;
    color: white;
    transition: padding-left $duration-out $ease-in-out;

    &.active,
    &:hover {
      color: $gray-0;
      background: white;
    }

    .icon {
      flex: 0 0 auto;
      width: $icon-width;
      height: auto;
      color: $gray-4;
    }

    &.active .icon,
    &:hover .icon {
      color: black;
    }

    i {
      flex: 0 0 auto;
      color: $gray-4;
      font-size: rem-calc(16);
      vertical-align: middle;
    }

    span {
      flex: 1 1 auto;
      vertical-align: middle;
      padding-left: rem-calc(9);
      transition: opacity $duration-out $ease-in-out;
    }
  }

  a {
    border-bottom: 1px solid $gray-3;
    font-family: $font-family-header;
    font-weight: $font-weight-header;
    font-size: rem-calc(17);
    text-transform: uppercase;
    white-space: nowrap;

    .plus-icon,
    .minus-icon {
      color: white;
      transition: opacity $duration-out $ease-in-out;
    }

    &:hover .plus-icon,
    &:hover .minus-icon {
      color: black;
    }

    &[aria-expanded="true"] .plus-icon {
      display: none;
    }

    &[aria-expanded="false"] .minus-icon {
      display: none;
    }
  }

  .btn-collapse-sidebar {
    width: 100%;
    font-family: $font-family-sans-serif;
    font-size: rem-calc(14);
    text-transform: none;
    border-radius: 0;
  }

  ul ul {
    a {
      padding-left: 2.5rem;
      background: $gray-0;

      &.active,
      &:hover {
        background: white;
      }
    }
  }
}

.sidebar.active {
  min-width: $collapsed-width;
  max-width: $collapsed-width;
  transition-duration: $duration-in;

  ul ul {
    display: none;
  }

  a,
  .btn-collapse-sidebar {
    padding-left: #{($collapsed-width - $icon-width) / 2};
    transition-duration: $duration-in;

    span {
      opacity: 0;
      transition-duration: $duration-in;
    }
  }

  a {
    .plus-icon,
    .minus-icon {
      opacity: 0;
      transition-duration: $duration-in;
    }
  }
}

.dropdown-toggle:after {
  display: none;
}
