@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem-calc($value) {
  @return strip-unit($value) / 16 * 1rem;
}

@function get-mq-map($bp-map) {
  $mq-map: ();
  @each $bp-name, $bp-value in $bp-map {
    $mq-map: map-merge($mq-map, (
      $bp-name: 'only screen and (min-width: ' + $bp-value + ')',
      ('lessThan ' + $bp-name): 'only screen and (max-width: ' + ($bp-value - 1px) + ')'
    ));
  }

  @return $mq-map;
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
