@mixin mq($media) {
  @if map-has-key($media-queries, $media) {
    @media #{map-get($media-queries, $media)} {
      @content;
    }
  }
  @else {
    @media #{$media} {
      @content;
    }
  }
}
