// colors
$brand-yellow: #424251;
$brand-red: #5c4284;
$brand-red-dark: #a81d36;
$brand-blue: #1884d5;

$gray-0: #000;
$gray-1: #2a2a2a;
$gray-2: #3f3f3f;
$gray-3: #666;
$gray-4: #a4a4a4;
$gray-5: #ededed;
$gray-6: #f2f2f2;

// media queries
$grid-breakpoints: ();
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1400px
  ),
  $grid-breakpoints
);
$media-queries: get-mq-map($grid-breakpoints);

// fonts
$font-family-header: 'UniversLTW01-67BoldCn','Arial Narrow',Arial,sans-serif;

$font-weight-icons: 900;
$font-weight-header: 400;

// transitions
$ease-standard: cubic-bezier(.4, 0, .2, 1);
$ease-out: cubic-bezier(0, 0, .2, 1);
$ease-in: cubic-bezier(.4, 0, 1, 1);
$ease-in-out: cubic-bezier(.4, 0, .6, 1);
$duration-in: 225ms;
$duration-out: 195ms;

// misc
$border-radius-default: .25rem;
