<h1>This is the child component </h1>
<h2>It want to say "Hey to its parent".</h2>

It also wants to receive a response from its parent

<p>
    <b> Response from parent : "{{ receivedParentMessage }}"</b>
</p>

<div>
    <span [innerHtml]='receivedParentMessage'></span>
</div>
<button (click)="sendMessageToParent(messageToSendC)">Send to parent</button>