/**
 * HTML element styles and global helper/utility classes
 */

// TODO: THIS FONT IS UNLICENSED - NEED TO LOAD FROM FONTS.COM
@font-face {
  font-family: 'UniversLTW01-67BoldCn';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/univers.woff') format('woff2');
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: $font-family-header;
  font-weight: $font-weight-header;
  text-transform: uppercase;
}

h1, h2, .h1, .h2 {
  color: $brand-red;

  &.secondary {
    color: black;
  }
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
  margin-bottom: .25rem;
}

h6, .h6 {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

.subhead {
  font-size: rem-calc(18);
}

i,
span {
  display: inline-block;
}

.page-content {
  padding: rem-calc(40);
}

.icon ~ span {
  vertical-align: middle;
}
