<h1>Home Page</h1>
<p>Get customers by ID</p>
<input type="text" [(ngModel)]="inputidvalue" class="form-control" />
<button class="btn btn-primary" (click)="getcustomersbyid()">Submit</button>

<ul>
    <li>
        {{customersingleobject.firstName}} {{customersingleobject.lastName}} {{customersingleobject.email}} {{customersingleobject.password}}
    </li>
</ul>

<p>all customners information</p>
<ul>
    <li *ngFor="let customer of customers">
        {{customer.firstName}} {{customer.lastName}} {{customer.email}} {{customer.password}}
    </li>
</ul>